@font-face {
	font-family: Comfortaa;
	src: url(Comfortaa.ttf);
}

body {
	margin: 0 auto;
	min-height: 100vh;
	font-family: Comfortaa, sans-serif, Arial;
	color: #25171A;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}