@import "./base.css";

#app {
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	padding: 0;
	
	position: fixed;
	left: 0;
	top: 0;

	font-weight: normal;
	background-color: #F7F0F5;
}

.up-down-flex {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 100%;
}
.left-right-flex {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
}